[req]
distinguished_name=req_distinguished_name
x509_extensions=v3_req
prompt=no

[req_distinguished_name]
C=PE
ST=LIMA
L=LIMA
O=TI
OU=SOPORTE
CN=192.168.21.110

[v3_req]
subjectAltName=@alt_names

[alt_names]
IP.1=192.168.21.110
