general:
  log_file: /var/log/fortigate.log
  database: /opt/fortigate-monitor/data/fortigate.db
  log_level: INFO
  timezone: America/Lima

networks:
  - name: Gestion
    subnet: 10.0.100.0/24

fortigate:
  name: FGT_OLGUIN

collector:
  flush_interval: 30

quota:
  limit_gb: 2
  blocked_group: BLOQUEADOS_2GB
